<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 configuration DOCTYPE -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


	<!-- Properties파일에서 추출한 데이터를 변수로 사용할수있도록 설정 -->
	<properties resource="mybatis/db.properties" />

	<!-- 접속할 db의 정보를 설정한다 -->
	<environments default="development">
		<!-- db접속 정보 -->
		<environment id="development">

			<!-- jdbc를 이용하여 트랜잭션을 관리하도록 설정한다 -->
			<transactionManager type="JDBC" />

			<!-- 접속할 db에 대한 정보 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="dao/mapper/EmpMapper.xml"/>
	</mappers>









</configuration>