<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.face.EmpDao">


<!-- 		resultMap - id적기 -->
	<resultMap type="dto.Emp" id="Emp">
<!-- 		pk -->
		<id column="empno" property="empno" />

<!-- 		column -->
<!-- 		column - table			property - dto -->
<!-- 		컬럼명과 멤버필드명이 다른 애만 적어줘도됨 -->
		<result column="ename" property="ename" />
		<result column="job" property="job" />
		<result column="mgr" property="mgr" />
		<result column="hiredate" property="hiredate" />
		<result column="sal" property="sal" />
		<result column="comm" property="comm" />
		<result column="deptno" property="deptno" />
		
	</resultMap>

	<sql id="selectEmp">
		SELECT 
			empno, ename, job, mgr
			, hiredate, sal, comm, deptno
		FROM emp
	</sql>
	
	<sql id="whereCond">
		WHERE search LIKE '%' || #{keyword } || '%'
	</sql>
	
	
	
	
	
	

	<select id="selectAll" resultType="Emp">
		<include refid="selectEmp" />
		ORDER BY empno
	</select>

	<select id="selectByEmpno" resultType="Emp" parameterType="Emp">
		<include refid="selectEmp" />
		WHERE empno = #{empno }
	</select>


<!-- 	<insert id="insert" parameterType="Test_member"> -->
<!-- 		INSERT INTO test_member (no, id, pw) -->
<!-- 		VALUES (test_member_seq.nextval, #{id }, #{pw }) -->
<!-- 	</insert> -->










<!-- 	sql태그 예시 -->

<!-- 	sele -->



<!-- 	<select id="selectBoardList"> -->
<!-- 	SELECT * FROM ( -->
<!-- 		SELECT rownum rnum, B.* FROM ( -->
<!-- 			SELECT * FROM board -->
<!-- 			WHERE title LIKE '%' || ${search } || '%' -->
<!-- 			ORDER BY boardno DESC -->
<!-- 		) b -->
<!-- 	) BOARD -->
<!-- 	WHERE rnum BETWEEN #{startNo } AND #{endNo } -->

<!-- 	</select> -->





</mapper>

